@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

@media screen and (max-width: 1024px){
  img.bg {
  left: 50%;
  margin-left: -512px; }
}

div#container {
  position: relative;
  font-family: 'Delius Unicase', cursive;
  font-size: 90pt;
  color: #5a3700;
}

img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

footer{
  font-size: 30pt;
  position:fixed!important;
  position:absolute;
  bottom: 0;
}

footer.right{
  right:0;
}

footer.left{
  left:0;
}

a{
  color: #5a3700;
}
